<section class="py-6">
  <div class="container mx-auto max-w-8xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 items-start gap-6 lg:grid-cols-12">
      <!-- ================= Left Sidebar ================= -->
      <app-sidebar class="hidden lg:col-span-3 lg:block"></app-sidebar>

      <!-- ================= Feed Content ================= -->

      <app-feed-content class="min-w-0 lg:col-span-6"></app-feed-content>
      <!-- ================= Right Sidebar ================= -->
      <app-rightbar class="hidden lg:col-span-3 lg:block"></app-rightbar>
    </div>
  </div>
</section>
